<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ADHD+ To Do List 1.0</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ADHD+ To Do List 1.1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-datetime-button disabled="true" datetime="datetime"></ion-datetime-button>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime"></ion-datetime>
    </ng-template>
  </ion-modal>


  <ion-list>
    <ion-item button *ngFor="let item of tasks">

      <ion-avatar slot="start">
        <img [src]=" baseURLimages + item.task_image" />
      </ion-avatar>

      <ion-label>{{ item.task_name }}
        <p>{{item.date_of_start | date}}</p>
        <p>{{item.status_of_task}}</p>
      </ion-label>
      <ion-button  slot="end" labelPlacement="start" fill="outline">{{item.task_type}}</ion-button>
      <!-- <ion-checkbox slot="end" labelPlacement="start">{{item.task_type}}</ion-checkbox> -->
      

    </ion-item>
  </ion-list>

  <ion-button href="add-task" fill="outline">Add Task</ion-button>

  

</ion-content>
