<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add Task
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="todoForm">
    <ion-list>
      <ion-item>
        <ion-input label="Task Name:" labelPlacement="floating"
          placeholder="Stop reading on the toilet..."
          formControlName="task_name"></ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-select label="Type:">
          <ion-select-option *ngFor="let t of tasks" [value]="t.id">{{ t.type }}

          </ion-select-option>
        </ion-select>
      </ion-item> -->

      <ion-item>
        <ion-select
          aria-label="Type"
          interface="popover"
          placeholder="Select type"
          formControlName="type"
        >
          <ion-select-option value="Task">Task</ion-select-option>
          <ion-select-option value="Goal">Goal</ion-select-option>
          <ion-select-option value="Habit">Habit</ion-select-option>
          <ion-select-option value="Monthly">Monthly</ion-select-option>
        </ion-select>
      </ion-item>
    

      <ion-item>
        <ion-input label="Description:" labelPlacement="floating"
          formControlName="task_desc"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Start Date:" labelPlacement="floating"
          formControlName="date_of_start"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="End Date:" labelPlacement="floating"
          formControlName="date_of_end"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select
          aria-label="Status"
          interface="popover"
          placeholder="Select Status"
          formControlName="status_of_task"
        >
          <ion-select-option value="NotStarted">Not Started</ion-select-option>
          <ion-select-option value="Started">Started</ion-select-option>
          <ion-select-option value="Completed">Completed</ion-select-option>
          
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input label="Image:" labelPlacement="floating"
          formControlName="task_image"></ion-input>
      </ion-item>

    </ion-list>

    <ion-button fill="outline" (click)="onSubmit()" 
    id="submit-button"

    [disabled]="todoForm.invalid">Add Task</ion-button>

  </form>

  <ion-button fill="outline" routerLink="/to-do-list"><ion-icon name="home-outline"></ion-icon></ion-button>
</ion-content>
